#bd-mobile:hover #bd-mobile-QR{
    display: block;
}

#bd-mobile-QR{
    width: 90px;
    height: 90px;
    border: 1px solid #ccc;
    position: absolute;
    top: 180px;
    right:45px;
    background: #ffffff;
    box-shadow: 0 0 10px #CDCDC1;
    display: none;
}

#bd-mobile-QR:after{
    border: solid transparent;
    content: '';
    height: 0;
    left: 100%;
    position: absolute;
    top: 10px;
    width: 0px;
}
#bd-mobile-QR:after {
    border-width: 10px;
    border-left-color: #fff;
    top: 35px;
}
.ser-layer{position: absolute;width: 450px;max-height: 520px;background: #fff;z-index: 99;border: 1px solid #eee;border-top:0;}
.ser-layer a{font-size: 14px;line-height: 16px;padding: 5px;width: 440px;display: block; white-space:nowrap;overflow:hidden;text-overflow:ellipsis; }
/*.ser-layer a:hover{background-color: #EAEAEA;}*/
.ser-layer .cur{background-color: #EAEAEA;}
.showSerlayer{display: block}
