body,ul,li,h1,h2,h3,h4,h5,h6,input,span,button{margin: 0;padding: 0;border: 0;color: #333333;outline: 0;}
ul{list-style: none;}
iframe{width: 100%;border: 0;margin: 0;padding: 0;}
a,a:visited{color:#333333;text-decoration:none;}
a:hover{color: #ffb33c;text-decoration: none;}
.clearfix:after{display: block;content: '';clear: both;}
.main{width: 100%;}
.cont{width: 1190px;margin:0 auto;}