/* CSS Document */
body{padding-bottom: 100px; background-color: #fff;width: 100%; min-width: 1000px;}
.lg-header{width: 100%; min-width: 1000px; height: 100px; background-color: #fff;}
.lg-header .h-main{width: 1000px; margin: 0 auto; height: 100px;}
.lg-header .t-logo{width: 190px; height: 90px; padding-top: 10px; float: left;}
.lg-header h4{float: left; margin-top: 20px; height: 32px; padding: 15px 0 15px 15px; border-left: 1px solid #e3e3e3; line-height: 32px;color: #252a33; font-size: 24px;}

.main{width:100%; min-width: 1000px; height: 520px; background-color:#f5aa33;}
.main .cont{width: 1000px; height: 460px; padding-top: 60px; margin: 0 auto; background: url("../images/login-bg04.png") no-repeat 0 60px; position: relative;}
.main .lg-rt{width: 360px; float: right; margin-right: 30px; height: 420px; background: #fff; background:rgba(255,255,255,0.98); filter:alpha(opacity=98); _margin-right:15px;}
.main .lg-box{position: relative; padding: 25px 25px 0 25px;}
.main .lg-box h5{color: #333333; font-size: 18px; margin-bottom: 25px;}

.main .mc{width: 310px;}
.main .mc .item{width: 266px; height: 24px; float: left; background-color: #fff; padding: 7px 0 7px 42px; border: 1px solid #dedede; position: relative; margin-bottom: 20px;}
.main .mc .item input{display: block; width: 250px; border: none; color: #333; font-size: 14px; border-left: 1px solid #dedede; height: 24px; line-height: 24px; padding-left: 8px;}
.main .mc .login-label{display: block; width: 42px; height: 38px; position: absolute; left: 0; top:0;}
.main .mc .name-label{background: url("../images/pwd-icons.png") no-repeat;}
.main .mc .pwd-label{background: url("../images/pwd-icons.png") no-repeat -42px 0;}
.main .mc .code-label{background: url("../images/pwd-icons.png") no-repeat -84px 0;}
.main .mc .login-label-show-psw{display: block; width: 42px; height: 38px; position: absolute; left: 267px; top:0;cursor:pointer;}
.main .mc .pwd-label-show-psw{background: url("../images/bg-pc-pass.png") no-repeat -168px 4px; background-size: 194px;}
.main .mc .pwd-label-show-psw-open{background: url("../images/bg-pc-pass.png") no-repeat -168px -25px; background-size: 194px;}

.main .mc .item-code{width: 146px;}
.main .mc .item-code input{width: 128px;}
.main .mc .autocode-pic{width: 60px; height: 20px; float: left; margin: 10px 12px 0; overflow: hidden;}
.main .mc .autocode-pic img{width: 60px; height: 20px;}
.main .mc .change-btn{float: left; line-height: 38px; color: #f5aa33;}
.main .mc .change-btn:hover{text-decoration: underline;}

.main .mc .login-btn{display: block; width: 310px; height: 40px; line-height: 39px; text-align: center; transition: background-color 120ms; font-size: 16px; color: #fff; background-color: #f5aa33; border-radius: 2px; clear: both;}
/*.main .mc .login-btn:hover{background-color: #028ecd;}*/  /*pc 登录按钮变颜色*/

.main .mc .mc-bot{width: 310px; margin-top: 10px; overflow: hidden;}
.main .mc .mc-bot a:hover{text-decoration: underline;}
.main .mc .mc-bot .regist{color:#f5aa33; float: left;}
.main .mc .mc-bot .forget-pw{color:#666; float: right;}

.main .coagent{width: 310px; margin-top: 25px; text-align:center}
.main .coagent dt{width: 310px; text-align: center; border-top: 1px solid #cccccc; height:15px; }
.main .coagent dt span{padding: 0 12px; background-color: #fff; position: relative; top:-10px; color: #999999;}
.main .coagent ul{width: 310px;}
.main .coagent ul:after{clear: both; content: "."; display: block; height: 0; visibility: hidden;}
.main .coagent ul li{display:inline; }
.main .coagent ul li a{color: #333333;}
.main .coagent ul li a:hover{text-decoration: underline;}

/*!*手机验证码登录*!*/
/*.main .mc .validate-bot{width: 310px; margin-top: 10px; overflow: hidden;border-top: 1px solid #e0e0e0;}*/
/*.main .mc .validate-bot p{color: #f5aa33;padding-top: 20px;}*/
/*.main .mc .datecode-item{width: 155px; height: 24px; float: left; background-color: #fff; padding: 7px 0 7px 42px; border: 1px solid #dedede; position: relative; margin-bottom: 20px;}*/
/*.main .mc .datecode-item input{display: block; width: 120px; border: none; color: #333; font-size: 14px; border-left: 1px solid #dedede; height: 24px; line-height: 24px; padding-left: 8px;}*/
/*.main .mc .datecode-item .btn01{display: block; width: 93px; height: 38px; border: 1px solid #cccccc; float: left; margin-left: 172px;margin-top: -32px; background-color: #E6E0E0; text-align: center; line-height: 40px; color: #666; font-size: 14px; border-radius: 2px;}*/
/*.main .mc .datecode-item a:hover.btn01{ background-color: #D0C9C9; }*/
/*.main .mc .datecode-item .btn02{display: block; width: 93px; height: 38px; border: 1px solid #cccccc; float: left; margin-left: 172px;margin-top: -32px; background-color: #E6E0E0; text-align: center; line-height: 40px; color: #666; font-size: 14px; border-radius: 2px; cursor: default;}*/
/*.main .mc .moblie_login-btn{display: block; width: 310px; height: 40px; line-height: 39px; text-align: center; transition: background-color 120ms; font-size: 16px; color: #fff; background-color: #f5aa33; border-radius: 2px; clear: both;}*/
/*!*手机验证码登录*!*/

/*APP扫码登录*/
.hd .login-tip {
    top: 10px;
    position: absolute;
    right: 63px;
    color: #df9c1f;
}
.poptip {
    border: 1px solid #f3d995;
    height: 16px;
    line-height: 16px;
    padding: 5px 20px 5px 15px;
    background: #fefcee;
    position: relative;
}
.poptip-arrow {
    top: 8px;
    right: 0;
    position: absolute;
    z-index: 10;
}
.poptip-arrow em, .poptip-arrow span {
    position: absolute;
    width: 0;
    height: 0;
    border-color: rgba(255,255,255,0);
    _filter: chroma(color=tomato);
    border-style: solid;
    overflow: hidden;
    top: 0;
    left: 0;
}
.poptip-arrow em {
    top: 0;
    left: 1px;
    border-left-color: #f3d995;
    border-width: 6px 0 6px 6px;
}

.poptip-arrow span {
    border-left-color: #fefcee;
    border-width: 6px 0 6px 6px;
}

.qrcode-main {
    position: relative;
    margin-top: 24px;
    height: 140px;
}
.qrcode-img {
    position: absolute;
    left: 86px;
    top: 0;
    z-index: 100;
}
.qrcode-desc img {
    float: left;
    margin-right: 10px;
    margin-top: 6px;
}
.qrcode-desc p {
    width: 144px;
    line-height: 18px;
    color: #6c6c6c;
    font-size: 12px;
    float: left;
}
.qrcode-desc {
    overflow: hidden;
    width: 188px;
    margin: 24px auto 0;
}
.qrcode-desc a {
    color: #f4ac25;
    font-size: 14px;
    font-weight: bold;
}
.msg-err {
    width: 140px;
    height: 140px;
    background: rgba(255,255,255,.95);
    position: absolute;
    left: 86px;
    top: 0;
    z-index: 9999;
}
.msg-err h6 {
    color: #3c3c3c;
    margin-top: 38px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
}
.msg-err .refresh {
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin: 0 auto;
    background: #f40;
    display: block;
    color: #fff;
    border-radius: 3px;
}
.login-links {
    margin-top: 35px;
    overflow: hidden;
    text-align: right;
}
.login-links .forget-pwd {
    margin-right: 10px;
}
.ft-gray {
    color: #9c9c9c;
}
.qrcode-msg {
    margin-top: 20px;
    position: relative;
}
.qrcode-msg h6 {
    margin-top: 22px;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 12px;
    color: #6c6c6c;
    text-align: center;
}
.qrcode-msg p {
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    color: #3c3c3c;
}
.qrcode-msg .link {
    margin-top: 21px;
    text-align: center;
}
.qrcode-msg a.light-link {
    color: #f5a31b;
}
.qrcode-msg .msg-icon{
   text-align: center;
}








